.Student {
	text-align: center;
}

.StudentMain {
	text-align: center;
}

.StudentQuiz {
	text-align: center;
}

.StudentPractice {
	text-align: center;
}

.Title {
	text-align: center;
}

.QuizList {
	text-align: center;
}